extends layout

block content
  .container
    if messages.error
      div.text-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      div.text-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      div.text-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
        h2 CrossLoS backend
        h4 API for the CrossLoS project, a Proof of Concept for crowdsourced crosswalks detection and annotation.
        p This PoC is part of the CrowDPLoS project, a VGI system to deliver physically impaired people an adapted navigation system.
        p Check out the API doc #[a(href="#", style="font-style:italic;") soon #[span]]

